.score-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    animation-name: show-scores;
    animation-duration: 1s;
    box-shadow: 0px 0px 50px -25px black;
    .scores{
        width: 95%;
        margin: 20px auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        
        .score{
            display: flex;
            margin: auto;
            min-width: 170px;
            min-height: 80px;
            width: calc(85%/8);
            flex-direction: row;
            background-color: #eeeeee;
            padding: 10px;
            max-height: max-content;
            border-radius: 15px;
            .color{
                box-shadow: 0px 6px 30px -10px black;
                width: 80px;
                border-radius: 10px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
            }
            .puntuation{
                margin: 10px;
                font-size: 16px;
            }
        }
    }
    .user{
        background-color: #eeeeee;
        width: 95%;
        margin: 20px auto;
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: rgb(63, 63, 63);
        border-radius: 10px;
        .title{
            margin-top: 20px;
            font-size: 24px;
        }
        .color{
            background-color: rgb(255, 255, 255);
                box-shadow: 0px 6px 30px -10px black;
                border-radius: 10px;
            
            padding: 10px;
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: bold;
            label{
                margin-right: 10px;
            }
            div{
                box-shadow: 0px 6px 30px -10px black;
                border-radius: 5px;
                padding: 10px;
            }
        }
        .time{
            
            font-size: 16px;
            position: relative;
            display: flex;
            padding: 10px;
            label{
                font-weight: bold;
                margin-right: 10px;
            }
            div{
                display: block;
            }
        }
    }
}

@keyframes show-scores {
    from {
        transform: translate(0,100%);
    }
    to {
        transform: translate(0,0%);
    }
  }

@media (max-width: 800px) {
    .score-bar{
        background-color: white;
        gap: 10px;
        overflow: auto;
        flex-direction: column;
        height: 50vh;
        .scores{
            flex-direction: row;
            padding-bottom: 30px;
            overflow: auto;
            display: flex;
            gap: 10px;
            .score{
                min-height:fit-content;
                width: 100%;
                .puntuation{
                    margin: auto
                }
            }
        }
        .user{
            flex-direction: row;
            .title{
                margin: auto 30px;
                font-size: 14px;
            }
            .color{
                font-size: 16px;
            }
            .time{
                font-size: 14px;
                text-align: end;
                label{
                    font-weight: bold;
                }
            }

        }
    }
}