<div class="score-bar"  *ngIf="userScore">
    <div class="user">
        <label class="title">Tu puntaje</label>
        <br/>
        <div class="color">
            <label>Color</label>
            <div [style]="'background:'+userScore.color+';color:'+(userScore.color | contrastColor)+';'">
                {{userScore.color}}
            </div>
        </div>
        <div class="time">
            <label>Tiempo:  {{userScore.time}} segundos </label>
        </div>
    </div>
    <div class="scores">
        <div class="score" *ngFor="let score of scores">
            <div class="color" [style]="'background:'+score.color+';color:'+(score.color | contrastColor)+';'">
                {{score.color}}
            </div>
            <div class="puntuation">
                <b>Cantidad de Clicks:</b> {{score.puntuation}}
            </div>
        </div>
    </div>
</div>
